<form action="/shop/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn" type="submit" style="background-color: #606197; color:white;">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>