<!--for shop view -->
<!--code for nav updated from index.ejs for shop view-->


<!--for shop view index.ejs-->
<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      Navigation
      <% include ./partials/navbar.ejs %>

      main+ sections
      + probably a footer.ejs..
     <% include ./partials/baseScripts.ejs %>
    </body>
</html>-->