.form-control {
  margin-top: 100px;
   margin-left: -120px;
   background-color: #343a40;
  
  }
  
  .form-control label {
    display: block;
    width: 100%;
    color: #f4623a;
  
  }
  .form-control input,
  .form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #343a40;
    color: #f4623a;
  
  }
  
  .form-control input{border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
    margin-left: 105%;
    margin-top: -13%;
    padding-bottom: 5%;
    background-color: #343a40;
    color: #f4623a;
  }
  .form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
    padding-bottom: 20%;
    margin-left: 105%;
    margin-top: -12%;
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline-color: #00695c;

  }
 
  .form-control input.invalid,
.form-control textarea.invalid {
  border-color: #f4623a;
}