<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Gallery Shop</title>

  <link rel="stylesheet" href="/css/application.css" type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Font Awesome Icons -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <link href="/css/creative.min.css" rel="stylesheet">
  <link href="/css/creative.css" rel="stylesheet">
  
  
  <style>
      .carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Madalina Jantea</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link js-scroll-trigger" href="#home">Home
                  <span class="sr-only">(current)</span>
                </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Sign Up</a>
          </li>
          <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <header class="page-section bg-dark text-white" id="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol> -->
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/ddtfnbuom/image/upload/v1578445447/windBkg_copy_g6rwyp.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">Fine art</h3>
            <p class="lead">Quality prints 10% off the first purchase.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/ddtfnbuom/image/upload/v1578454174/IMG_4816_vphkqf.jpg')">
          <div class="carousel-caption d-none d-md-block">
              <h3 class="display-4" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">Fine art</h3>
              <p class="lead">Quality prints 10% off the first purchase.</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/ddtfnbuom/image/upload/v1578429824/IMG_4862_jbgboe.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">Fine art</h3>
              <p class="lead">Quality prints 10% off the first purchase.</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/ddtfnbuom/image/upload/v1578455791/muralS_sbvnlz.jpg')">
            <div class="carousel-caption d-none d-md-block">
            <h3 class="display-4" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">Fine art</h3>
              <p class="lead">Quality prints 10% off the first purchase.</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/ddtfnbuom/image/upload/v1578429815/IMG_4860_oixiqo.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3 class="display-4" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">Fine art</h3>
              <p class="lead">Quality prints 10% off the first purchase.</p>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/ddtfnbuom/image/upload/v1572368733/aquatic_zqspex.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="display-4" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">Fine art</h3>
                <p class="lead">Quality prints 10% off the first purchase.</p>
            </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>
  </header>
  
  <!-- Page Content About -->
  <!-- <section class="page-section bg-light text-black" id="about">
    <h2 style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;padding-top: 1px;">Find your style then fill your room</h2> 
  <div class="row align-items-center my-5" style="margin-top: -110px;">
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="images/bcg3.jpg" style="width:800px; height:550px;margin-top: -30px;" alt="">
    </div>
    <!-- /.col-lg-8 
    <div class="col-lg-4">
      <h1 class="font-weight-light" style="margin-top: -70px; font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">New Year New You 35% Off</h1>
      <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
      <a class="btn btn-primary" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;" href="/shop">Shop the Collection!</a>
    </div>
    <!-- /.col-md-4 
  </div>
  <!-- /.row -->

  <!-- Call to Action Well 
  <div class="card text-white bg-secondary my-5 py-1 text-center">
    <div class="card-body">
      <p class="text-white m-0" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif; font-size: 17px;">Make your home uniquely you!</p>
    </div>
  </div> -->

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="images/catFramed.jpg">
          <h2 class="card-title" style="color: black; font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">Prints</h2>
          <p class="card-text" style="color: black">Gifts for Yourself.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="images/miceFr.jpg">
          <h2 class="card-title" style="color: black">Framed Prints</h2>
          <p class="card-text" style="color: black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="images/melcFramed.jpg">
          <h2 class="card-title" style="color: black">Canvas</h2>
          <p class="card-text" style="color: black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary btn-sm" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">More Info</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->

</div>
  </section>
  <!-- <section class="py-5">
    <div class="container">
      <h1 class="font-weight-light">Half Page Image Slider</h1>
      <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
    </div>
  </section> -->
  
  <!-- Contact Section -->
<section class="page-section bg-dark text-white" id="contact">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0">Let's Get In Touch!</h2>
              <hr class="divider my-4">
              <p class="text-muted mb-5">AT</p>
            </div>
          </div>
          
            <div class="col-lg-11 mr-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
              <!-- Make sure to change the email address in anchor text AND the link below! -->
              <a class="d-block" style= "color: white; margin-left: 10%" href="mailto:contact@yourwebsite.com">contact@thewebsite.com</a>
            </div>
          </div>
        
</section>
    
      <!-- Footer -->
<footer class="bg-light py-5">
        <div class="container">
          <div class="small text-center text-muted">mj&copy; 2019</div>
        </div>
</footer>
    <!-- Bootstrap core JavaScript -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    
    <script src="js/creative.min.js"></script>
    <script src="js/agency.min.js"></script>
  </body>
</html>