<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Gallery Shop</title>

  <link rel="stylesheet" href="/css/application.css" type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Font Awesome Icons -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  
  <link href="/css/creative.min.css" rel="stylesheet">
  <link href="/css/creative.css" rel="stylesheet">
  <style>
  .modal-content{
   margin: auto;
   display: block;
   width: 100%;
   max-width: 800px;
   background-color: rgba(0,0,0,0.9);
     }
   .modal{
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
   }

   .close {
 text-decoration:none;
 float:right;
 font-size:40px;
 font-weight:bold;
 color:white
 }
   .close:hover,
 .close:focus {
   color: red;
   text-decoration: none;
   cursor: pointer;
 }
  
 </style>

 </head>

 <body id="page-top">
 <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container" >
          <a class="navbar-brand js-scroll-trigger" href="#page-top" style="color:white; text-shadow: 3px 2px black;font-size: 25px;font-weight:bolder;">M . J</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about" style="font-size: 17px;color:black;font-weight: bold;">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#services" style="font-size: 17px; color:black; font-weight: bold;">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#portfolio"style="font-size: 17px;color: black;font-weight: bold;">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact"style="font-size: 17px;color: black;font-weight: bold;">Contact</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column"></div>             
</header>

<section class="page-section bg-dark text-white" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="text-black mt-0" style="color: white;">-  why art - </h2>
              <hr class="divider light my-4">
             <p class="text-white-50 mb-5"> Art opens the heart and mind to possibilities and fuels the imagination. Art is a process of learning to create 
               ourselves and experience the world in new ways. Arts support the bigger 
               picture view of life: beauty, symbols, spirituality, storytelling, 
               it also helps us step out of time allowing one to be present in the moment. Art keeps the magic alive</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#" style="color:#006699">Shop!</a>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-light text-white" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="text-black mt-0" style="color: grey;">Sign Up</h2>
              <hr class="divider dark my-4">
             <p class="text-black-50 mb-5"> Create an account for discounts and more</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#" style="color:#006699">Sign Up!</a>
            </div>
        </div>
    </div>
</section>
  

<section class="bg-light page-section" style="color: #004466;" id="portfolio">
        <h3 style="text-align: center; color:#f4623a">Gallery</h3>
          <div id="photos">
            <div class="container1">
                <img src="images/autumnB.jpg" style="max-width:100%;cursor:pointer" 
                onclick="onClick(this)" class="modal-hover-opacity">
              </div>   
              <div class="container1">
                  <img src="images/blopB.jpg" style="max-width:100%;cursor:pointer" 
                    onclick="onClick(this)" class="modal-hover-opacity">
                  </div>
              <div class="container1">
                  <img src="images/aquatic.jpg" style="max-width:100%;cursor:pointer" 
                      onclick="onClick(this)" class="modal-hover-opacity">
                    </div>
              <div class="container1">
                    <img src="images/happyB.JPG" style="max-width:100%;cursor:pointer" 
                        onclick="onClick(this)" class="modal-hover-opacity">
                      </div>
              <div class="container1">
                    <img src="images/wind.jpeg" style="max-width:100%;cursor:pointer" 
                          onclick="onClick(this)" class="modal-hover-opacity">
                    </div>
             
              <div class="container1">
                  <img src="images/mask.jpg" style="max-width:100%;cursor:pointer" 
                          onclick="onClick(this)" class="modal-hover-opacity">
               </div>
               <div class="container1">
                  <img src="images/chiTale.jpg" style="max-width:100%;cursor:pointer" 
                    onclick="onClick(this)" class="modal-hover-opacity">
                  </div>
                  
              <div class="container1">
                  <img src="images/rhino.jpg" style="max-width:100%;cursor:pointer" 
                      onclick="onClick(this)" class="modal-hover-opacity">
                    </div>
               <div class="container1">
                    <img src="images/mural.jpg" style="max-width:100%;cursor:pointer" 
                       onclick="onClick(this)" class="modal-hover-opacity">
                  </div>
               <div class="container1">
                    <img src="images/bored.jpg" style="max-width:100%;cursor:pointer" 
                        onclick="onClick(this)" class="modal-hover-opacity">
                      </div>
                <div class="container1">
                    <img src="images/slow.jpg" style="max-width:100%;cursor:pointer" 
                        onclick="onClick(this)" class="modal-hover-opacity">
                    </div>
                
                <div class="container1">
                      <img src="images/monsieur.JPG" style="max-width:100%;cursor:pointer" 
                            onclick="onClick(this)" class="modal-hover-opacity">
                    </div>

                <div class="container1">
                        <img src="images/birthB.jpg" style="max-width:100%;cursor:pointer" 
                            onclick="onClick(this)" class="modal-hover-opacity">
                        </div>
                <div class="container1">
                    <img src="images/not.JPG" style="max-width:100%;cursor:pointer" 
                             onclick="onClick(this)" class="modal-hover-opacity">
                     </div>
                
                      
              <div class="container1">
                    <img src="images/polite.jpg" style="max-width:100%;cursor:pointer" 
                          onclick="onClick(this)" class="modal-hover-opacity">
                    </div>
                <div class="container1">
                    <img src="images/confusedType.jpg" style="max-width:100%;cursor:pointer" 
                            onclick="onClick(this)" class="modal-hover-opacity">
                        </div>
              <div class="container1">
                     <img src="images/time.JPG" style="max-width:100%;cursor:pointer" 
                        onclick="onClick(this)" class="modal-hover-opacity">
                   </div>
                   
              <div class="container1">
                  <img src="images/thoughts.jpg" style="max-width:100%;cursor:pointer" 
                        onclick="onClick(this)" class="modal-hover-opacity">
               </div>
               <div class="container1">
                    <img src="images/myth.JPG" style="max-width:100%;cursor:pointer" 
                          onclick="onClick(this)" class="modal-hover-opacity">
                 </div>
                  
          <div id="modal01" class="modal" onclick="this.style.display='none'">
            <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div class="modal-content">
              <img id="img01" style="max-width:100%">
            </div>
          </div>
        </div>
      
</section>

<!-- Contact Section -->
<section class="page-section bg-dark text-white" id="contact">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0">Let's Get In Touch!</h2>
              <hr class="divider my-4">
              <p class="text-muted mb-5">AT</p>
            </div>
          </div>
          
            <div class="col-lg-11 mr-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
              <!-- Make sure to change the email address in anchor text AND the link below! -->
              <a class="d-block" style= "color: white; margin-left: 10%" href="mailto:contact@yourwebsite.com">contact@thewebsite.com</a>
            </div>
          </div>
        
</section>
    
      <!-- Footer -->
<footer class="bg-light py-5">
        <div class="container">
          <div class="small text-center text-muted">mj&copy; 2019</div>
        </div>
</footer>
    <!-- Bootstrap core JavaScript -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    
    <script src="js/creative.min.js"></script>
    <script src="js/agency.min.js"></script>
    
    <script>
        function onClick(element) {
          document.getElementById("img01").src = element.src;
          document.getElementById("modal01").style.display = "block";
        }
        
        function getRandomSize(min, max) {
          return Math.round(Math.random() * (max - min) + min);
        }
        
        var allImages = "";
        
        for (var i = 0; i < 25; i++) {
          var width = getRandomSize(200, 400);
          var height =  getRandomSize(200, 400);
        }
        
        $('#photos').append(allImages);
    </script>
  </body>
</html>